
body{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    /* height: 50%; */
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
#progressbar:before,
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
}

#progressbar:after{
    filter: blur(30px);
}

@keyframes animate {
    0%, 100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgb(255, 255, 255, 0.05);
}


#percent{
    position: fixed;
    top: 50%;
    right: 16px;
    font-size: 2em;
    color: #fff;
    transform: translateY(-50%) rotateX(180deg) rotateY(180deg);
    writing-mode: vertical-rl;
    text-orientation: sideways;

}
/* #myVideo {
    width: 100px;
    height: 30px;
    margin-top: -10px;
  } */
/*landing page */
#landing-page{
    background: url('../images/landingPage4.jpg') center center;
    /* background-image: url('/images/chopbeta3.png'); */
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
}
.title-background{
   
    width: fit-content;
    margin: auto;
    
}
.title{
    background: #070707 ;
    text-align: center;
    color:#d0d3d4 ;
    font-size: 2em;
    padding:10px ;
}
.logo{
    width: 200%;
    height: 50%;
    margin-left: -40px;
}

/*nav-slider */
.nav-slider{
    padding: 15px;
    cursor: pointer;
}

.line{
    background: #eee;
    margin: 5px;
    width: 30px;
    padding: 2px;
}

.line:nth-child(1) {
    margin-top: 0;
}

/* nav-slider-section */
.nav-slider-section{
    background: rgb(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
}

.close-nav-slider{
    border: none;
    outline: none;
    float: right;
    background: transparent;
    color: #f1c40f;
    font-size: 1.5em;
    padding: 15px;
    cursor: pointer;
}

.nav-links-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.nav-links-container li{
    text-align: center;
    padding: 10px;
}

.nav-links{
    text-decoration: none;
    color: #eee;
    font-size: 1.5em;

}

.openNav{
    animation: openNav 0.5s forwards;
}

.closeNav{
    animation: closeNav 0.5s forwards;    
}

@keyframes openNav{
    100%{
        transform: translateX(0%)
    }
}

@keyframes closeNav{
    0%{
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


#menu{
    /* background: #d1d515; */
    color: purple;
}

.menu-title{
   color: purple;
    text-align: center;
    padding: 25px;
    font-size: 2em;

}
a{
    color: purple;
    text-decoration: none;
}

p{
    /* color: #eee; */
    font-size: 1.1em;
}

.menu-price{
    float: right;
}

/* restaurant info */

#restaurant-info{
    background: #fff;
}
.restaurant-info-title{
    color: purple;
    text-align: center;

}

/* .info-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */

.address-content, .business-hours, .contact-content {
    padding: 10px;
    
}

.address, .hours {
    font-size: 1em !important;
    text-align: center;
}

.phone{
    margin-bottom: 0;
    font-size: 1em !important;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .info-container{
        /* display: flex; */
        /* grid-template-columns: 1fr 1fr 1fr; */
        /* flex-direction: column; */
    }
    .address-content, .business-hours {
        border-right: 1px solid purple;
        padding: 30px;
    }
    .contact-content {
        padding: 30px;
    }
    #landing-page{
        background-image: url('/images/landingPage4.jpg');
        /* background-image: url('/images/chopbeta3.png'); */
        background-size: cover;
        height: 50vh;
        width: 100%;
        background-repeat: no-repeat;
    }
}

.footer{
    text-align: center;
    font-family: cursive;
    /* justify-content: center; */
    /* align-content: center; */
    color: #fff;
    background: grey;
    height: 30px;
    padding: 10px;
}