main{
    /* margin: 50px; */
    padding: 0;
    
    background-image: url('/images/happy.jpg');
    /* background-image: url('/images/chopbeta3.png'); */
    background-size: cover;
    /* filter: grayscale(100%); */
    height: 100vh;
    background-repeat: no-repeat;
    
}